### Months in Correct Order

In [78]:
import pandas as pd

In [80]:
# data from https://www.kaggle.com/datasets/mchirico/montcoalert
df = pd.read_csv("C:\Users\ejiro\Downloads\911.csv")

In [91]:
df.head()

,title,timeStamp,twp,addr,e
0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [95]:
(df
 .sample(1000)
 .assign(month_name=lambda df: pd.DatetimeIndex(df['timeStamp']).month_name())
 .pipe(lambda df: pd.crosstab(index=df['title'], columns=df['month_name']))
)

month_name,April,August,December,February,January,July,June,March,May,November,October,September
title,,,,,,,,,,,,
EMS: ABDOMINAL PAINS,1,1,2,3,1,2,1,1,4,0,1,0
EMS: ALLERGIC REACTION,0,0,0,0,1,0,0,0,1,0,0,2
EMS: ALTERED MENTAL STATUS,1,4,1,0,2,0,0,0,1,1,0,1
EMS: ASSAULT VICTIM,0,1,0,0,0,0,0,1,0,0,0,0
EMS: BACK PAINS/INJURY,1,0,1,0,0,2,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
Traffic: DISABLED VEHICLE -,6,1,6,6,7,13,6,6,7,10,6,7
Traffic: HAZARDOUS ROAD CONDITIONS -,0,0,1,1,1,1,0,1,0,0,0,0
Traffic: ROAD OBSTRUCTION -,2,1,0,4,4,3,6,5,3,3,3,0
Traffic: VEHICLE ACCIDENT -,21,11,18,19,24,18,18,18,22,19,16,16
Traffic: VEHICLE FIRE -,0,1,0,0,1,2,1,0,0,2,0,1

In [96]:
(df
 .sample(1000)
 .assign(month_name=lambda df: pd.DatetimeIndex(df['timeStamp']).month_name())
 .astype({'month_name': 'category'})  # Convert to categorical data
 .assign(month_name=lambda df: df['month_name'].cat.reorder_categories(['January','February','March','April','May','June','July','August','September','October','November','December']))
 .pipe(lambda df: pd.crosstab(index=df['title'], columns=df['month_name']))
)

month_name,January,February,March,April,May,June,July,August,September,October,November,December
title,,,,,,,,,,,,
EMS: ABDOMINAL PAINS,1,1,0,1,1,0,3,2,0,3,0,2
EMS: ALLERGIC REACTION,1,1,0,0,0,2,1,0,0,0,0,0
EMS: ALTERED MENTAL STATUS,3,0,2,2,1,1,1,0,2,1,3,1
EMS: ANIMAL BITE,0,0,0,0,1,0,0,0,0,0,0,0
EMS: ASSAULT VICTIM,0,0,0,1,0,0,0,2,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Traffic: DISABLED VEHICLE -,11,9,7,6,4,5,9,7,6,4,4,7
Traffic: HAZARDOUS ROAD CONDITIONS -,2,1,1,1,1,1,0,1,0,1,1,1
Traffic: ROAD OBSTRUCTION -,1,3,2,5,1,6,3,1,1,0,4,0
Traffic: VEHICLE ACCIDENT -,20,21,21,21,18,19,18,10,18,23,19,25
Traffic: VEHICLE FIRE -,2,0,0,0,1,0,1,0,0,0,0,0